/*! modern-normalize v3.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.25; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.25; /* 1 */
	margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}



/* ----- MINE ------ */
* {
    margin: 0;
    padding: 0;
}

ul {
	list-style: none;
}

svg {
	fill: var(--dark-primary);
}

body {
	--primary-color: hsl(0, 97%, 64%);
	--primary-light: hsl(0, 97%, 74%);
	--secondary-color: hsl(214, 68%, 43%);
	--highlight-color: hsl(56, 100%, 65%);
	--light-primary: hsl(0, 1%, 98%);
	--light-secondary: hsl(0, 1%, 95%);
	--dark-primary: hsl(350, 7%, 17%);
	--dark-secondary: hsl(0, 1%, 85%);
	--dark-tertiary: hsl(283, 4%, 37%);

    display: flex;
    flex-direction: column;
	height: 100vh;
	color: var(--dark-primary);
}

header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	height: 4rem;
	background-color: var(--light-secondary);
	border-bottom: 2px solid var(--dark-secondary);
}

header .logo {
	font-weight: 900;
	font-size: 1.2rem;
	color: var(--primary-color);
}

main {
	flex: 1;
	background-color: var(--light-primary);
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

nav > ul {
	display: flex;
}

nav > ul button {
	padding: 0;
	background: none;
	border: none;
	padding: 0.6rem 1.2rem;
	font-size: 1.1rem;
}



/* ------ HOME ------ */
.home {
	display: flex;
	flex-direction: column;
}

.home .hero-section {
	flex: 1;
	display: grid;
	place-content: center;
	gap: 1rem;
	text-align: center;
}

.home .info-section {
	display: flex;
	gap: 2rem;
	justify-content: center;
	padding: 2rem;
}

.home .info-el {
	display: flex;
	flex-direction: column;
	gap: .8rem;
	align-items: center;
	text-align: center;
	flex-basis: 16rem;
}

.home .info-el svg {
	width: 4rem
}

.home h1 {
	color: var(--primary-color);
}

.home h1 {
	font-size: 2.2rem;
}

.home .hero-section p {
	font-size: 1.2rem;
}

.home .info-section {
	/* background-color: var(--light-secondary); */
	background-color: var(--primary-color);
	color: var(--light-primary);

}

.home svg {
	/* fill: var(--primary-color); */
	fill: var(--light-primary);
}


/* ----- MENU ------- */
.menu {
	display: flex;
	flex-direction: column;
	gap: .8rem;
	padding: 1rem 2rem;
}

.menu ul {
	display: grid;
    grid-template-columns: repeat(auto-fill, 18rem);
    grid-auto-rows: min-content;
    gap: 2rem 1.2rem;
	/* border-top: 2px solid var(--primary-color); */
}

.menu ul li {
	width: 18rem;
	height: 100%;

	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
	grid-template-areas:
        "title title"
        "desc desc"
		"price order";

	justify-items: start;
	align-items: start;
	row-gap: .4rem;

	border-radius: 10px;
	background-color: var(--light-secondary);
	border: 3px solid var(--dark-secondary);
	box-shadow: 0px 0px 5px var(--light-secondary);

	padding: .8rem;
}

.menu ul {
	margin-bottom: 1rem;
	/* margin-top: .2rem; */
}

.menu h2 {
	font-size: 1.6rem
}

.menu ul li h3 {
	grid-area: title;
	color: var(--primary-color);

}

.menu ul li p {
	grid-area: desc;
}

.menu ul li span {
	grid-area: price;
	color: var(--dark-tertiary);
	font-size: 1.2rem;
	align-self: center;
}

.menu ul li button {
	grid-area: order;
	justify-self: end;
	
	border: none;
	border-radius: .6rem;
	padding: .6rem 1rem;
	background-color: var(--primary-color);
	color: var(--light-primary);
	font-weight: 900;
}



/* ----- ABOUT ----- */
.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content 1fr;
	grid-template-areas:
		"header header"
		"info form";
	align-content: start;
	justify-items: stretch;
	align-items: start;
	gap: 1rem 2rem;

	padding: 2rem;

}

.about svg {
	width: 2.4rem;
	fill: var(--primary-color);
}

.about h1 {
	grid-area: header;
}

.about ul,
.about form {
	border: 3px solid var(--dark-secondary);
	background-color: var(--light-secondary);
}

.about ul {
	display: grid;
	align-content: start;
	gap: 1rem;
	grid-area: info;

	border-radius: .8rem;
	padding: 1rem;
	font-size: 1.1rem;
}

.about li {
	display: flex;
	align-items: center;
	gap: .8rem;
}

.about form {
	display: grid;
	gap: .8rem;
	grid-area: form;
	grid-auto-rows: min-content;
	border-radius: .8rem;
	padding: 1rem;
}

.about form .inputWrapper {
	display: grid;
	grid-auto-rows: min-content;
	gap: .4rem;
}

.about label {
	font-weight: 900;
}

.about input,
.about textarea {
	outline: none;
	border: 2px solid black;
	border-radius: .6rem;
	padding: .4rem .6rem;
	background-color: #fefefe;
}

.about textarea {
	height: 6rem;
}

.about button {
	padding: 1.2rem 1.2rem;
	background-color: var(--primary-color);
	border-radius: .6rem;
	color: var(--light-primary);
	font-weight: 900;
	border: none;
}